
*{
    margin:0;
    
}
.container {
    position: relative;
    text-align: center;
    color: white;
   margin-bottom: 0%;
    
}

.text{
    vertical-align: middle;
    font-size : 3rem;
    margin-top: 20%;
}
.centered {
    position : absolute;
    top : 50%;
    left : 50%;
    transform : translate (-50%, -50%);
    font-size : 3rem;
}